@import url('https://fonts.googleapis.com/css2?family=Alice&display=swap');


:root {
    --bg-color: #573824;
    --surface-color: #F0E8C2;
    --text-color-primary: #291B1A;
    --text-color-secondary: #573A37;
    --text-color-on-bg: #F0E8C2;
    line-height: 150%;
    font-family: "Alice", serif;
    color: var(--text-color-secondary);
}

body {
    background-image: url(../imgs/bg-image.png);
    background-size: cover;
}

#page {
    box-sizing: border-box;
    width: 800px;
    padding: 0.8rem;
    background-color: var(--surface-color);
    border-radius: 24px;
    margin: 48px auto;

}

img {
    border-radius: 16px;
}

main {
    padding: 0.8rem;
}

h1 {
    line-height: 140%;
    font-size: 40px;
}

h2 {
    font-size: 24px;
}

h1, h2 {
    margin-bottom: 4px;
    color: var(--text-color-primary);
    line-height: 150%;
}

footer {
    margin-bottom: 48px;
    display: flex;
    justify-content: center;
}

footer p {
    color: var(--text-color-on-bg);
}

.contrast {
    font-weight: 600;
    font-size: 1.2rem;
}
